/*
     COLOUR PALETTE

    Headings:            #0f172a;
    Body Text:           #475569;
    Button:              #4f46e5;
    Button Hover State:  #6366f1;

    BORDERS

    Colour:              #cbd5e1;
    Width:               1px
    Radius:              0.375rem
    Style:               solid

    BOX SHADOW

    Blur, spread, etc.:  0 1px 2px 0
    Colour:              rgb(0 0 0 / 0.05);
*/

/* Universal Styles */
/* This sets the font size at the highest level of the dom (the root). 16px = 1rem - based on the default font size - 1rem = 16, 2rem = 32, 3 rem = 48, 4 rem = 64, 72, 88, etc */
html {
    font-size: 16px;
}

body {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.sr-only {
    position: absolute;
    top: -9999px;
    left: -9999px;
    visibility: hidden;
}

.flexed {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
}

/* Typographical Styles */

body section.h2 {
    font-weight: 300;
    font-size: 4rem;
    line-height: 1.2;
    margin-bottom: 1.5rem;
}

p {
    margin-bottom: 2rem;
}

/* Utility Styles */
header, footer {
    background-color: dodgerblue;
    color: aliceblue;       /* Base styles of the Boilerplate */
    text-align: center;
    line-height: 5rem;
}

.main {
    margin:0 auto;
    max-width: 720px;
    min-height: calc(100vh - 12rem);
    padding: 2rem 1rem;
}

/* Forms */




/* Navigation */
a {
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
}

a:link,  a:visited {
    color: aliceblue;
}

a:focus, a:hover, a:active {
    color: darkslateblue
}

/* Media queries allow you to apply CSS styles depending on a device's media type (such as print vs. screen) or other features or characteristics such as screen resolution or orientation, aspect ratio, browser viewport  */
/* Media Queries */
@media screen and (min-width: 576px) {

}