/*
    Colour Palette
 
    Dark –  darkslategray
    Accent 1  – dodgerblue
    Accent 2 - mediumspringgreen
    Light    – aliceblue
    White   - #ffffff
 
    Fonts
    font-family:
 
    Layout Grid
    Row Height is:
    Column Width is:
    Vertical Gutters:
*/

/* Universal Styles */
/* This sets the font size at the highest level of the dom (the root). 16px = 1rem - based on the default font size - 1rem = 16, 2rem = 32, 3 rem = 48, 4 rem = 64, 72, 88, etc */
html {
    font-size: 16px;
}

body {
    font-size: 100%;
    font-family: Arial, Helvetica, sans-serif;
}

.sr-only {
    position: absolute;
    top: -9999px;
    left: -9999px;
    visibility: hidden;
}

/* Typographical Styles */

/* Utility Styles */
header,
footer {
    background-color: dodgerblue;
    color: aliceblue; /* Base styles of the Boilerplate */
    text-align: center;
    line-height: 5rem;
}

footer {
    position: sticky;
    bottom: 0;
    left: 0;
}

.main {
    padding: 5%;
    max-width: 80ch;
    padding: 10%;
}

.main h2,
.main p {
    margin-bottom: 2rem;
}

/* Forms */
header button {
    background: none;
    border: none;
    cursor: pointer;
    color: aliceblue;
    text-align: center;
    transition: color 0.3s;
}

header button:focus,
header button:hover {
    background-color: darkslateblue;
}

header button svg {
    display: block;
    margin: auto;
    width: 2rem;
    fill: aliceblue;
}
header form {
    background-color: dodgerblue;
    position: absolute;
    left: 0;
    top: 13rem;
    width: 100%;
    padding: 3rem 1rem;
    gap: 0;
}
header form input {
    border: none;
    line-height: 1rem;
    padding: 0.5rem;
}
header form input[type="search"] {
    width: 82%;
    border-radius: 4px 0 0 4px;
}
header form input[type="submit"] {
    border-radius: 0 4px 4px 0;
    border: solid #e9e9ed 1.5px;
    border-left: none;
    transition: background-color 1s;
}
header form input[type="submit"]:hover {
    background-color: aliceblue;
    color: aqua;
}

.toggle-btn {
    background-color: red;
    border-radius: 4px;
    display: inline-block;
    padding: 0.5rem 1rem;
    transition: all 2s;
}

.toggle-btn:focus,
.toggle-btn:hover {
    background-color: green;
    color: aliceblue;
}

/* Navigation */
nav {
    position: relative;
}
/* Delete next class */
/*
.toggle-btn{
    background-color: darkslateblue;
    color: aliceblue;
    border: none;
    cursor: pointer;
    margin-right: 0.5rem;
    padding: 0.25rem 1rem;
    text-align: center;
}
 
.toggle-btn:focus,
.toggle-btn:hover,
.toggle-btn:active{
    background-color: aliceblue;
    color: darkslateblue;
    gap:0.25rem;
}
 
.toggle-btn,
ol:not(.dropdown) a{
    display: flex;
}*/

a {
    padding: 0.5rem 1rem;
    margin-right: 0.5rem;
}

a:link,
a:visited {
    color: aliceblue;
}

a:hover,
a:active {
    color: darkslategrey;
}

.collapsed {
    max-height: 0;
    opacity: 0;
    visibility: hidden;
    transition: all 0.3s;
}

.expanded {
    max-height: unset;
    opacity: 1;
    visibility: visible;
}

.flexed {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
}

/* Media queries allow you to apply CSS styles depending on a device's media type (such as print vs. screen) or other features or characteristics such as screen resolution or orientation, aspect ratio, browser viewport  */
/* Media Queries */
@media screen and (min-width: 760px) {
    .dropdown {
        position: absolute;
        top: 5.75rem;
        left: 0;
        max-width: 11rem;
        background-color: dodgerblue;
    }
}
