/* 

    Colour Palette

    Darkest – #07182E
    Columns – #132945
    Accent  – #29D8BE
    Text    – #CBD6F5
    Grey    – #6E7997
    White   - #ffffff

    Fonts

    font-family: 'Oxygen', sans-serif;
    font-family: 'Oxygen Mono', monospace;

    Layout Grid

    Row Height is 16px.
    Column Width is 296px.
    Vertical Gutters are 18px.

*/
html {
    font-size: 16px;
}
body {
    font-size: 100%;
}

*,
*:before,
*:after {
    box-sizing: border-box;
    box-sizing: inherit;
}

img {
    width: 100%;
    height: auto;
}

h1,
section,
body > div {
    width: 90%;
    margin: 0 auto;
}

header,
h1,
section,
body > div {
    margin-top: 2rem;
}
body > div {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 1rem;
}
body > div div {
    width: 50%;
}
footer {
    background-color: darkslategray;
    color: aliceblue;
    text-align: center;
    line-height: 4rem;
}

/* *** Navigation ***  */
/* a {

}

a:link,  a:visited {
    background-color:  ;
    color:  ;
}

a:hover, a:active {
    background-color:  ;
    color:  ;
} */

h1,
h2 {
    color: blue;
    font-family: sans-serif;
    text-transform: uppercase;
}

section p {
    max-width: 80ch;
}
